[2015-10-26 08:47] withanage opened #1 "Language plugins"

[2015-10-26 08:51] withanage opened #2 "Plugin installation"

[2015-10-26 08:51] withanage opened #3 "Image loading issues"

[2015-10-26 08:52] withanage opened #4 "javascript issues"

[2015-10-26 14:36] CFanselow opened #5 "layout bits"
a number of small layout issues

[2015-10-26 14:37] CFanselow commented on #5
Nr. 1
![seriesmisplaced](https://cloud.githubusercontent.com/assets/7779279/10731808/644ca6d0-7bf7-11e5-8ab8-c02b3089c3fa.png)

that's on the main page, the series are not listed below the heading "series"

[2015-10-26 14:37] CFanselow commented on #5
Nr. 2
![bottonsdontfit](https://cloud.githubusercontent.com/assets/7779279/10731823/7b1313b8-7bf7-11e5-9c62-3bc4453ca1a8.png)

[2015-10-26 14:37] CFanselow commented on #5
Nr. 3
![spacemissing](https://cloud.githubusercontent.com/assets/7779279/10731833/876da31c-7bf7-11e5-9600-aa29cf1654d5.png)

space between triangle and word
also in
- website settings, languages
- administration, hosted presses
- approve proofs window
- Download From Press Website (in tabs for publication formats)
  (I will stop reporting it now, hope the list lets you identify the rule)

[2015-10-26 14:38] CFanselow commented on #5
Nr. 4
![bordermissing](https://cloud.githubusercontent.com/assets/7779279/10731843/8fa6471e-7bf7-11e5-8f3a-1cf95aa87284.png)

border missing

[2015-10-26 14:42] CFanselow opened #6 "switch to backoffice - don't call it "dashboard"?"
![switchtobackoffice](https://cloud.githubusercontent.com/assets/7779279/10732007/5a731ed6-7bf8-11e5-95c4-8fa484beb7a9.png)

I wouldn't call the switch "dashboard" because there's more behind it than just the dashboard. Maybe "backoffice" or something like this.

[2015-10-26 15:01] CFanselow commented on #5
Nr. 5
I couldn't identify the tabs here. I was looking for the button to determine the publication format (even though I am used to it from the old design).

![tabsnotclear](https://cloud.githubusercontent.com/assets/7779279/10732478/95809f2e-7bfa-11e5-8761-a6c703f687b6.png)

[2015-10-26 15:25] CFanselow opened #7 "$additionalHomeContent missing in index.tpl"
In templates/frontend/pages/index.tpl $additionalHomeContent is missing. It is assigned in IndexHandler.inc.php.

[2015-10-26 17:31] asmecher commented on #5
@CFanselow, regarding https://github.com/UB-Heidelberg/omp/issues/5#issuecomment-151165943 -- try checking out the `asmecher/i825-fix` branch, both for `omp` and `lib-pkp`. I haven't merged this in yet, but those changes will get rid of the tab set and improve/simplify the approval process considerably. (Sorry, I should've mentioned this branch -- heads-up also to @withanage and @bozana.)

[2015-10-27 11:15] bozana commented on #5
@asmecher, could it be that those changes (wehn rebased with the PKP master branches) break the layout when the user is logged in? Or is it something wrong on my side?

[2015-10-27 11:38] kadowa opened #8 "DOI (and other) plugin settings are missing"
Plugin settings don't show up for the DOI plugin (and the URN DNB plugin, which works in a similar way).

![no_plugin_settings](https://cloud.githubusercontent.com/assets/8066366/10756593/53aab3ea-7ca5-11e5-9fd7-9dcee9ec3923.png)

For some of the generic plugins, management options do show up, but don't work (Translator, Usage Statistics). Custom Block Manager and Static Pages management both work

[2015-10-27 11:39] kadowa commented on #2
https://github.com/UB-Heidelberg/omp/issues/8

[2015-10-27 12:00] NateWr commented on #5
Thanks for this. OMP still has a number of issues like this to work out on the backend. It hasn't had as much testing in the backend as OJS had in the run-up to 3.0 beta, but I do plan a more comprehensive review. I'd expect just about everything to change on the frontend but it's getting a more comprehensive treatment right now.

@asmecher What would you recommend to make sure we don't lose track

[2015-10-27 12:49] bozana opened #9 "Log-in + Tabs"
If using tab: on the second tab, the user will be on "Forgot your password?". Maybe to put it after the password input field, in order to quicker log-in? But maybe it's just me, used to it... :-)

[2015-10-27 12:50] bozana opened #10 "Register"
Why are Affiliation and Country required for the registration? Because an author is identified with those data? Because the user DB table and authors DB table are different, maybe not make those fields required for the registration? -- in order to make the registration as easy/minimal as possible.

[2015-10-27 12:50] bozana opened #11 "Upload Submission File"
The button "Start Upload" is not displayed until a submission component is not chosen. Maybe to change or describe that?

[2015-10-27 12:51] bozana opened #12 "No. of Titles on Catalog, Category and Series pages"
Could this be somehow differently classified/identified instead of using ```<h2 class="page_subtitle">``` -- to be able to hide it, if wished?

[2015-10-27 12:51] bozana opened #13 "Custom Blocks"
Could the custom blocks be at the same position i.e. have the same layout as Browse, Language, Information block?

[2015-10-27 12:55] bozana opened #14 "Right Sidebar"
Is the right sidebar still meant to be used (e.g. if I move the blocks in settings > website > appaearance > sidebar management to the right column) i.e. should the default theme consider it?

[2015-10-27 13:06] bozana opened #15 "Home Page"
What would be the right way for a press to change/design the home page (elements, structure, content)?

[2015-10-27 13:37] bozana opened #16 "Book Page"
How could press change/design the book pages (elements, structure, layout)?
I believe there are so many information that could be displayed on the book page, that presses would like to display, e.g.:
cover, abstract, keywords, table of content, authors, about the authors, ISBN, published data i.e. date to come, similar books, further books of the authors, press releases, comments, different kind o

[2015-10-27 14:15] CFanselow opened #17 "Select books for carousel not working"
Clicking on "Feature" doesn't do anything.

[2015-10-27 14:21] CFanselow commented on #5
Nr. 6
The catalog entry is full screen (after saving two times??)

![catalogentryfullscreen](https://cloud.githubusercontent.com/assets/7779279/10760724/47e69c2c-7cbe-11e5-822b-ab1ad049fe23.png)

[2015-10-27 14:24] CFanselow commented on #5
Nr. 7
in the dashboard, tab: homepage

![linkcovered](https://cloud.githubusercontent.com/assets/7779279/10760823/c58f642e-7cbe-11e5-808b-b7c590ca1858.png)

[2015-10-27 14:24] NateWr commented on #5
Thanks @CFanselow, [this one](https://github.com/UB-Heidelberg/omp/issues/5#issuecomment-151511295) was [fixed yesterday](https://github.com/pkp/omp/commit/7fa84f90bcd085524a720ac7d1f2926fd196cd8f). It's the same problem as the [fourth screenshot](https://github.com/UB-Heidelberg/omp/issues/5#issuecomment-151158909) you posted above.

[2015-10-27 14:32] CFanselow commented on #5
@NateWr
I'll give them numbers now, for reference.

[2015-10-27 14:36] CFanselow commented on #10
we also would be happy if the country would no longer be required.

[2015-10-27 14:53] kadowa opened #18 "Upload submission file: 'Invalid file ids' error, if a submission file with a similar name is not a revision"
If I upload two submission files with similar names (e.g. book.epub and book.pdf), after uploading the second one the "Possible Duplication or Revision Detected" notification is displayed. If I select "Select file (to preserve history)." and continue, the submission file wizard doesn't advance. From the error log:

    omp: Invalid file ids!

However, the file is still inserted in the database.

[2015-10-27 14:54] CFanselow opened #19 "publication format links/status"
In the old version, these items also carried information about the status. Now the first two seem redundant to me and if so it would be better to make the page more slender. For the third one ("available") the naming is confusing for me. Shouldn't it rather be "change availability"?

![statuslinks](https://cloud.githubusercontent.com/assets/7779279/10761573/4ee7deb0-7cc2-11e5-8aac-6607fc9955a4.png

[2015-10-27 14:58] kadowa commented on #5
(8) Extended metadata fields
![extended_metadata](https://cloud.githubusercontent.com/assets/8066366/10761836/7e15bd1e-7cc3-11e5-824e-0e5b24d6272f.png)

[2015-10-27 15:03] kadowa opened #20 "Empty expedite modal"
![expedite](https://cloud.githubusercontent.com/assets/8066366/10761920/dfbc9420-7cc3-11e5-9bd7-9fe82834da7b.png)

The functionality seems intact though: publication format and page proof for the PDF are created.

[2015-10-27 15:31] CFanselow opened #21 "user is lost"
I have created a new user and maybe didn't save the form correctly. The user is written to the db but it doesn't show up in "users & roles".

[2015-10-27 15:40] asmecher commented on #5
Note that if you're experiencing strange layout problems you may need to flush your cache. Delete any `.css` files from your `cache/` subdirectory and they'll be re-generated.

[2015-10-27 20:19] asmecher commented on #5
Regarding https://github.com/UB-Heidelberg/omp/issues/5#issuecomment-151218365 -- I've merged that branch into master; you should be able to get the newest everything by switching back there (for omp and lib/pkp).

[2015-10-27 20:19] asmecher commented on #5
@NateWr, is there a specific comment you're responding to with https://github.com/UB-Heidelberg/omp/issues/5#issuecomment-151468891?

[2015-10-27 20:21] NateWr commented on #5
@asmecher No that was just a general comment.

[2015-10-27 20:30] asmecher commented on #5
Re: https://github.com/UB-Heidelberg/omp/issues/5#issuecomment-151632395 -- I'd suggest we track it here, but use `[ ]` to add checkboxes that look like this:
- [ ] The layout of xyz is broken

That way individual notes can be marked finished. Then as we wrap up this round of testing anything that's not resolved can be moved into the regular issue list on the PKP repository.

[2015-10-27 20:48] asmecher commented on #21
User creation is a two-step process: first the user account is created, then they're given roles. If you stop after the first step, the account will be created without roles.

To work with that account (including giving it roles), click the magnifying glass to the top right of the user list and check the box labelled "Include users with no roles in this press".

[2015-10-27 20:49] asmecher commented on #19
Check out the current master branch (both omp and lib-pkp), and `rm cache/*.css` to clear the cached CSS file.

[2015-10-27 20:50] asmecher commented on #17
We're discussing whether or not to keep the "featured" designation. @CFanselow, maybe you could describe the way you're using it so @NateWr can consider in the front end design?

[2015-10-27 20:50] asmecher commented on #15
For a single press site, or multiple press site?

[2015-10-27 20:51] asmecher commented on #14
We're considering removing support for this.

[2015-10-27 20:53] asmecher commented on #11
We'll probably swap out the multiple-file uploader for a single file uploader. Already filed here: https://github.com/pkp/pkp-lib/issues/595

[2015-10-27 20:56] asmecher commented on #10
Unfortunately I think there are going to be a lot of differing expectations around this. E.g.:
https://pkp.sfu.ca/support/forum/viewtopic.php?f=8&t=11297
http://pkp.sfu.ca/support/forum/viewtopic.php?f=8&t=10470

[2015-10-27 20:58] asmecher commented on #9
I think @NateWr already has this filed somewhere, but I couldn't find it.

[2015-10-27 22:24] NateWr commented on #5
Ok, just that I will probably forget this exists as soon as comments stop coming in. Having it in `pkp-lib` issues and assigned to a milestone will keep it from getting lost.

[2015-10-27 22:29] asmecher commented on #5
This will backstop it: https://github.com/pkp/pkp-lib/issues/840

[2015-10-28 09:09] bozana commented on #15
Both :-) But above all single press site :-)

[2015-10-28 09:52] bozana commented on #10
Yes, I thought so... :-)

[2015-10-28 10:26] NateWr commented on #9
It's logged in the big [Frontend Issues](https://github.com/pkp/pkp-lib/issues/639) ticket.

[2015-10-28 12:33] bozana commented on #16
Is the book page meant to be without the left sidebar items? -- after I checked out the current PKP master branch, I don't have ithem any more :-)

[2015-10-28 12:35] bozana commented on #12
This looks now much better :-)

[2015-10-28 15:44] asmecher commented on #9
Thanks, @NateWr. @bozana, can you close this issue, since it's a duplicate?

[2015-10-28 15:45] asmecher commented on #15
For a single press site, the "site-wide" aspects are hidden, and you can just work with the press setup area. When there are multiple presses, then there will be a separate "site settings" area. (Single-press installs were finding it confusing that they had to consider both site-wide and journal-specific areas, so we collapsed them together in that case.)

[2015-10-28 15:46] #9 closed

[2015-10-28 15:53] bozana commented on #15
I mean: if I enter something either into the settings > press > press homepage or settings > website > appearance > additional content I don't see it on the home page i.e. I cannot change the content of the home page at the moment, right?

[2015-10-28 15:57] asmecher commented on #15
If you only have a single press, the site-wide homepage shouldn't exist -- you should always be redirected to the press-specific homepage. Are you seeing something else?

[2015-10-28 15:59] bozana commented on #15
No, that's true -- I am always redirected to the press home page. But I cannot add any content (text, images,...) to the press home page.

[2015-10-28 16:10] asmecher commented on #15
Ah, I think this is probably due to the "additional content" field not presenting in the homepage. @NateWr, probably just a missing variable in the front-end templates.

[2015-10-28 16:21] NateWr commented on #15
Nothing's there at the moment and we're re-evaluating many of the options in the backend. I suspect we'll have a series of components with on/off toggles, and one tinymce field for additional content. But none of this is set up at the moment.

[2015-10-28 16:23] bozana commented on #15
OK, that answers the question i.e. how is it planed to be... :-) THANKS!

[2015-10-29 10:09] #4 closed

[2015-10-29 10:10] #3 closed

[2015-10-29 10:11] #1 closed

[2015-10-29 11:57] withanage opened #22 "Public Identifier Plugins"
Custom settings for urn and doi plugin fails.
![plugin](https://cloud.githubusercontent.com/assets/1921992/10817671/bc678d30-7e3b-11e5-8fef-d429d51fe4ba.png)
@asmecher
Can it be that the  plugin structure basically changed after
https://github.com/pkp/pkp-lib/commit/e678078cf1717bd9785b446f84037eeda969fa9d
and modifications are needed in the plugin-level.

Confirmation
1 Static page plugin  has th

[2015-10-29 11:58] withanage commented on #8
new issue generated: https://github.com/UB-Heidelberg/omp/issues/22

[2015-10-29 11:58] #8 closed

[2015-10-29 11:58] #2 closed

[2015-10-29 12:05] withanage opened #23 "Import/Export Data plugins"
All the four plugins are not yet referenced correctly and redirected to a void space.

    Users XML Plugin
    ONIX 3.0 Monograph Export Plugin
    Native XML Plugin
    Tab Delimited Content Import Plugin

[2015-10-29 12:18] kadowa opened #24 "Generic Plugins"
From #8: For some of the generic plugins, management options are available, but don't work (Translator, Usage Statistics).

![generic](https://cloud.githubusercontent.com/assets/8066366/10818108/3991b7ce-7e3f-11e5-841e-f13b9705ce1e.png)

![usage_statistics](https://cloud.githubusercontent.com/assets/8066366/10818109/3be9c73c-7e3f-11e5-8f52-6db413de47f6.png)

Might also be connected to the changes

[2015-10-29 12:26] kadowa commented on #5
- [ ] Half-hidden tasks
  ![tasks](https://cloud.githubusercontent.com/assets/8066366/10818287/b3b877bc-7e40-11e5-8571-323af52ce5a2.png)

[2015-10-29 12:34] kadowa commented on #5
- [ ] Missing tasks/presses as lists get too long (Dashboard)

![journals](https://cloud.githubusercontent.com/assets/8066366/10818410/9d500980-7e41-11e5-8c7c-e9e950080788.png)

(there are two more presses that are not shown)

![tasks2](https://cloud.githubusercontent.com/assets/8066366/10818424/b7cba260-7e41-11e5-8390-1d8f0dcd75fa.png)

[2015-10-29 19:47] asmecher commented on #22
Thanks, @withanage, I'll take a look.
@bozana, I know you'll be working on this stuff shortly, but this is my bug so I'll fix it :)

[2015-10-29 20:25] asmecher commented on #22
I've committed fixes to both OJS and OMP master branches to get the settings forms working. By the way, was this OJS you were testing, or OMP? The OMP master branch doesn't have a URN plugin.

[2015-10-30 09:03] kadowa commented on #22
OMP -- I've implemented a [URN DNB](https://github.com/UB-Heidelberg/urn_dnb) plugin for OMP (similar to the one by @bozana for OJS). I borrowed a lot of code from the DOI plugin, so I can probably apply the same fixes. Thanks for the quick reply!

[2015-10-30 09:04] withanage commented on #22
Thanks a lot  for fixing it. looks good.

[2015-10-30 09:04] #22 closed

[2015-10-30 10:20] kadowa opened #25 "DOI plugin settings form (OMP)"
Following up on #22: the DOI plugin settings form is now accessible, but cannot be saved. Error log: `omp: 404 Not Found`

Form validation seems to be broken somehow, too. If I select "Use default patterns." I still get an alert for the custom pattern field, when I click "Save".

![doi_settings](https://cloud.githubusercontent.com/assets/8066366/10843154/76ff5568-7ef7-11e5-8d28-d4742c21d9e4.png)

[2015-10-30 13:04] kadowa opened #26 "Port OJS default translation plugin to OMP"
https://github.com/pkp/defaultTranslation

[2015-10-30 18:10] asmecher commented on #25
@kadowa, this should be fixed -- try again?

[2015-11-02 08:23] kadowa commented on #25
Fixed, thanks!

[2015-11-02 08:23] #25 closed

[2015-11-02 09:55] kadowa opened #27 "DOI plugin: Reassign DOIs"
Sorry, there is one more issue with the DOI plugin @asmecher. Like the settings form (#25), the "Reassign DOIs" form does nothing after I click on "Ok". Changing https://github.com/pkp/omp/blob/master/plugins/pubIds/doi/classes/form/DOISettingsForm.inc.php#L76 to this
[code]
fixes it for me.

[2015-11-02 20:51] asmecher commented on #27
Committed, thanks!

[2015-11-03 09:06] #27 closed

[2015-11-03 10:26] #26 closed

[2015-11-10 09:36] NateWr commented on #16
My personal thoughts:
- I don't think we'll create any kind of point-and-click interface to change the structure or layout. These things need to be done at the theme level, and will thus require a coder to write custom templates. Adding a point-and-click layout builder is a big can of worms and rarely leads to positive results. We've made editing the templates a lot easier with the new frontend te

[2015-11-10 09:43] NateWr commented on #13
They should be now. See [this commit](https://github.com/pkp/customBlockManager/commit/c67c4746dd8e7bbbde6919c7c8e6b762870a23f8). Here's an example of what one looks like:

![custom-block](https://cloud.githubusercontent.com/assets/2306629/11059033/060223a4-878f-11e5-8aa3-f520f59e6c1c.png)

There are [a bunch of block plugins](https://github.com/pkp/customBlockManager/pull/6#issuecomment-154204306

[2015-11-10 09:44] NateWr commented on #12
:thumbsup:

[2015-11-11 08:47] kadowa opened #28 "Error display when deleting an author from the list of contributors"
Autor löschen verursacht eine Fehlermeldung (translation below)

![bildschirmfoto vom 2015-11-11 09 44 13](https://cloud.githubusercontent.com/assets/8066366/11087210/c98f5d40-8858-11e5-8392-3ceb59581b18.png)

[2015-11-13 13:16] CFanselow opened #29 "Proof/Catalog/Available in Section "Publication Formats""
I see that you have removed the double function (links + displaying (complex) information) for the Proof/Catalog/Available elements in the publication format section. I appreciate this, but for me the new version is still a bit confusing. I would:

- return to the checkbox for "Available". The word "disable" implies that there is something enabled.
- change the tooltip text to "set availability" (

[2015-11-13 19:18] asmecher commented on #28
If it's feasible, can you work with the system in English? It's going to be hard (but not impossible) for me to figure out what part of the interface you're working with.

[2015-11-13 19:32] asmecher commented on #24
I've committed some corrections to the usage stats plugin's use of the plugin API (associated with pkp/pkp-lib#700). The translation plugin worked fine here, though -- perhaps we had an out-of-date submodule hash for that plugin. Could you...

[code]

...to update it, and if it's still not working, report what's happening when you click the Translate link?

[2015-11-13 23:59] asmecher commented on #23
@withanage, I've committed a fix to the master branch that should fix access to these plugins.

[2015-11-14 09:36] AnjaKonopka opened #30 "Maximum size for file upload in submission"
The maximum file size in submission is 2 MB. This is far to little, particularly, if an author submits an entire book manuskript. The current book manuskripts submitted to heiUP are between 5 MB an 100 (!) MB large. I suggest an accepted size of 8 MB.
Of course we could split up the book into chapters before we upload the files. Though, if we want to use OMP for the submission to the advisory boar

[2015-11-14 10:12] AnjaKonopka opened #31 "Recipients can't be added to a new discussion"
The addition of new recipients to the discussion (in "Submission") doesn't work correctly. As soon as I click "ad user" a new field opens which is empty except a Trash. There is no way of adding a user name.

[2015-11-14 10:59] ankosi opened #32 "New permission label is needed"
For the discussion members in Submission we need a new permission label. They should be assigned only to Submission. In our case, the the discussion members are the members of the adivsory board, so the permission label "author" doesn't put it right.

[2015-11-14 11:02] ankosi commented on #31
![2015-11-14 11_59_39-adding_users_to_a_discussion_group](https://cloud.githubusercontent.com/assets/11088169/11163224/8b0cdda6-8ac7-11e5-847e-53beb2acf6c8.png)

[2015-11-16 07:52] kadowa commented on #28
Sorry, meant to translate this (I opened this quickly during a demonstration session) but didn't get back to it last week.

Deleting an author in the catalog tab (step 3 of the submission process) triggers an error display, when the deletion is confirmed. There is no error message in the log and after refreshing the page the selected author actually has been successfully deleted.

![delete1](https

[2015-11-16 08:28] kadowa commented on #24
Both working now, thanks!

[2015-11-16 08:28] #24 closed

[2015-11-16 09:11] kadowa commented on #30
Changed this to 8MB on our development server – can you check, if it worked? On the productive server it's already set to 200MB.

[2015-11-16 09:11] #30 closed

[2015-11-16 10:21] withanage commented on #23
@asmecher
Thanks for the fix, Have got the commit  5f8f1c35fb13b0f94a6c97e9b12f288c0c9e67c4 but still the problem occurs in my instance.

Did I miss something in the update?
git merge pkp/master master
git submodule update --init --recursive
cd lib/pkp/
/usr/local/composer.phar update

[2015-11-16 10:24] withanage opened #33 "Plugins expand all / collapse all"
omp/index.php/<mypress>/management/settings/website -> plugins
is not a bug, but  just to document, that it is not yet implemented.

[2015-11-16 10:42] kadowa commented on #23
I think the submodule commit of https://github.com/pkp/pkp-lib/commit/5f8f1c35fb13b0f94a6c97e9b12f288c0c9e67c4 is missing in omp; that's why `git submodule update` did not work. With

[code]

the first three plugins are fixed for me; the CSV import plugin management still leads to a blank page.

[2015-11-16 10:51] withanage commented on #23
Confirmed. Only CSVImportExportPlugin does not work now.

[2015-11-16 13:00] danielawolf opened #34 "Cover upload"
Uploading an article works, but everytime we try to upload a cover it will not be saved. We tried it at this stage:
![omp_test1](https://cloud.githubusercontent.com/assets/15866252/11182190/2c1b4032-8c69-11e5-9c16-39f52b44620d.jpg)

Maybe there is a different step where the cover has to be uploaded?

@kadowa

Greetings
Daniela and Katrin Bemmann

[2015-11-16 13:02] danielawolf opened #35 "Take a view at a finished article"
We tried to find a way to take a look at the published titles to change the metadata, but so far we weren't lucky. Does a way even exist?

@kadowa

Greetings
Daniela & Katrin Bemann

[2015-11-16 18:39] asmecher commented on #23
Thanks, @withanage. The CSV plugin appears to have been written to work for the command-line import/export tools only; we might extend that later to the web-based interface, but for now I've just suppressed the "import/export" link for that plugin. This should be ready to close.

[2015-11-17 10:36] #23 closed

[2015-11-17 12:11] kadowa commented on #35
You can access published titles via the Dashboard, in the catalog tab (Katalog):

![dashboard_catalog](https://cloud.githubusercontent.com/assets/8066366/11209857/38ebbeac-8d24-11e5-8061-c7037d5129c8.png)

There is an issue with the layout (already reported here https://github.com/UB-Heidelberg/omp/issues/5#issuecomment-151513917) – the links for viewing and editing a title are partially hidden be

[2015-11-18 06:23] dastewo commented on #35
@kadowa
Yes, this looks good :-)

[2015-11-18 08:44] #35 closed

[2015-11-18 10:08] ankosi commented on #30
Thanks, it works!

[2015-11-18 10:11] AnjaKonopka opened #36 "Layout"
When I check in as a pure author (without any superior permission levels), the button to submit a manuscript to the press is sticking at the right side and almost not to find.
![2015-11-18 11_05_24-greenshot_submit_a_new_manuscript](https://cloud.githubusercontent.com/assets/11088169/11238327/16d66986-8de5-11e5-90a0-7f9182a5215e.png)

[2015-11-18 10:26] AnjaKonopka opened #37 "Three text containers for catalog data instead of two"
We plan to provide a bilingual frontend Englisch/German and have implemented these two active languages for our press. I expected to see two containers for inserting the catalogue data, but now I got three???
![2015-11-18-greenshot_three_boxes_for_languages](https://cloud.githubusercontent.com/assets/11088169/11238631/39402ae6-8de7-11e5-8e0e-9f4bfa4524bc.png)

[2015-11-18 11:02] withanage commented on #37
The test for polnish  showed the message. Removed in test server and solved.

[2015-11-18 11:02] #37 closed

[2015-11-18 11:44] AnjaKonopka opened #38 "Keys from OJS in OMP?"
There are some keys which seem to be wrong in OMP, probably herited automatically from OJS?

file: https://github.com/pkp/omp/blob/master/locale/en_US/manager.xml (OMP stable 1.1.1)

<message key="manager.setup.editorialMembers">Go to Board Members and add Editorial Board and/or Review Board members. This can be done at any point in operating the press.</message>
	<message key="manager.setup.edito

[2015-11-19 07:49] AnjaKonopka opened #39 "Missing information in submission stage"
To send a file to the internal/external review or another stage, the submission must be assigned to an editor. In previous versions of OMP, the user got an hint in case that the submission was not assigned. This hint is missing now.
![2015-11-19 08_48_17-no_explanation_what_to_do_en](https://cloud.githubusercontent.com/assets/11088169/11265182/65e9cfc6-8e9a-11e5-94c0-2c2a3594a32c.png)

[2015-11-19 08:59] AnjaKonopka opened #40 "Weird error report in submission process"
When the author uploads a file in submission and forgets to insert the metadate (file name) for the second language, he gets a strange looking error message:
![2015-11-19-greenshot-incomplete_metadata_in_file_uploading_process](https://cloud.githubusercontent.com/assets/11088169/11266339/292a1fc8-8ea4-11e5-88d9-ce437c139f35.png)

[2015-11-20 22:08] asmecher commented on #7
@NateWr, not sure if you saw this one.

[2015-11-20 22:08] asmecher commented on #13
@bozana, can you check and close this one if it's OK?

[2015-11-20 23:41] asmecher commented on #39
@NateWr, just flagging you as you also consider the participants drop-down. A UI hint near where the "send to review" button would be (below "Expedite Submission") seems logical to me.

[2015-11-20 23:50] asmecher commented on #14
If you want to keep the right sidebar, speak now or forever hold your peace ;)

[2015-11-23 10:53] bozana commented on #13
Great! Thanks!

[2015-11-23 10:53] #13 closed

[2015-11-23 10:58] bozana commented on #14
Hmmm... I cannot foresee things yet, so lets say I will hold my peace for now ;-)

[2015-11-24 20:40] asmecher commented on #38
Thanks, @AnjaKonopka -- those keys weren't used anywhere, so I've removed them.

[2015-11-24 20:41] asmecher commented on #36
@NateWr, this needs a bit of a UI tweak. See also the dropdown that appears when there are multiple presses the user might submit to -- that looks even worse.

[2015-11-25 08:18] ankosi commented on #38
Great, thanks! @asmecher
Are there more keys which never have been used? I sometimes beat my brain where a certain key ought to appear on the OMP-Website. If I know that it might appear nowhere I stop searching earlier :-)

[2015-11-25 11:17] NateWr commented on #36
Yeah it's a problem with buttons across the backend. Filed [an issue](https://github.com/pkp/pkp-lib/issues/923) so it doesn't get forgotten before OMP 1.2.

[2015-11-26 17:39] asmecher commented on #38
Hi @AnjaKonopka -- yes, there are definitely keys that aren't used, and we'll have to do a cleanup at some point. Unfortunately that'll be a tough job because it's sometimes hard to tell whether a key is used anywhere. The problem will be worse for OJS 3.0 than it is for OMP; I'm hoping to write a tool to help with this before the OJS 3.0 release.

[2015-12-03 12:39] kadowa opened #41 "Missing Search Form in Settings > Users & Roles > User Management"
In OMP 1.1.1.0 it is possible to add a user that was created in a different context using a search form on the User Management Settings page:

![users_old](https://cloud.githubusercontent.com/assets/8066366/11560588/dc32e8de-99c1-11e5-81a7-9a09ad833018.png)

Now this search form is gone:

![users_new](https://cloud.githubusercontent.com/assets/8066366/11560589/dd692240-99c1-11e5-830d-f8aff179e967.

[2015-12-03 12:52] withanage commented on #41
when you click the magnify button near add user, the old bar   appears.

[2015-12-03 13:00] kadowa commented on #41
Of course, thanks! Guck mal, @alleste. :grinning: :eyeglasses:

[2015-12-03 13:00] #41 closed

[2015-12-04 06:51] ghost commented on #41
Oh! Und das trotz Brille ...

[2015-12-04 23:45] asmecher commented on #20
@withanage, I've added a commit that should fix this.

[2015-12-07 06:49] kadowa commented on #20
Fixed, thanks.

[2015-12-07 06:49] #20 closed

[2015-12-07 09:20] withanage commented on #20
thanks alex. is confirmed.

[2015-12-07 23:17] asmecher commented on #40
@withanage, just checking -- did you mean to assign this to yourself? If not, let me know and I can take a look.

[2015-12-08 08:27] withanage commented on #40
@asmecher  - Sorry, I assigned myself to  reproduce the problem and confirm.  Please have a look.
You can reproduce this problem only if you are in  a second language.  If you change the language to english this does not occur.

The full log is included as attachment.
[issue40.txt](https://github.com/UB-Heidelberg/omp/files/55141/issue40.txt)

[2015-12-08 12:16] ankosi commented on #38
Hi @asmecher. Oh, I see, this is a major task. I close this issue, since I guess you have it already on a to-do-list.

[2015-12-08 12:16] #38 closed

[2015-12-14 20:51] asmecher commented on #40
This should be fixed by the attached commit.

[2015-12-14 22:44] asmecher commented on #18
Thanks -- I've fixed this in OMP master. You'll need to update both OMP and pkp-lib.

[2015-12-15 15:23] kadowa commented on #18
Looks good, thanks!

[2015-12-15 15:58] kadowa commented on #18
I just noticed that the buttons below the file (Edit metadata/Delete) are gone after I pulled – I updated both omp and pkp-lib. The error log shows nothing. Do you have an idea what went wrong, @asmecher?

![files](https://cloud.githubusercontent.com/assets/8066366/11815513/54394d12-a34c-11e5-8adc-a9d71f89d7d3.png)

[2015-12-15 23:37] asmecher commented on #18
@kadowa, try clearing all cache files -- particularly `cache/*.css` -- to see if that helps. I suspect that's unrelated to this issue.

[2015-12-16 06:49] danielawolf opened #42 ""Press Manager" löschen nach dem Upload"
Hallo @kadowa,

es steht das nächste Problem an: Wenn man als "Press Manager" einen Titel hochgeladen und veröffentlicht hat, kann man zwar problemlos noch einen Autor hinzu fügen, der Press Manager bleibt aber ebenfalls bestehen. Gibt es eine Möglichkeit, den Press Manager zu löschen oder wenigstens aus der Anzeige zu nehmen?

![omp_press manager](https://cloud.githubusercontent.com/assets/158662

[2015-12-16 08:48] kadowa commented on #18
That was it – thanks!

[2015-12-16 08:48] #18 closed

[2015-12-16 10:00] kadowa commented on #42
@danielawolf, durch das letzte Update gestern sind die kleinen Pfeile, hinter denen sich in der Liste der Beitragenden das Löschen-Feld verbirgt, kurzzeitig verloren gegangen (s. auch https://github.com/UB-Heidelberg/omp/issues/18#issuecomment-164807115). Jetzt sollten sie wieder da sein.

Allerdings wird beim Löschen eines Autors immer noch eine Fehlermeldung angezeigt – das hatten wir schon in #

[2015-12-16 10:01] dastewo commented on #42
@kadowa
Danke dir :-) Frau Bemmann testet, aber ich denke, damit sollte das Problem behoben sein.

Viele Grüße
Daniela

[2015-12-16 10:17] dastewo commented on #42
@kadowa
Leider tauchen diese Pfeile bei Frau Bemmann nicht auf. Der Titel ist ja bereits veröffentlicht und befindet sich nicht mehr in der Einreichungsphase. Da geht das anscheinend nicht.

Viele Grüße
Daniela

[2015-12-16 10:21] kadowa commented on #42
Ich glaube nicht, dass es daran lieg; ich kann in meiner lokalen Testinstanz auch bei bereits veröffentlichten Katalogeinträge die Autorenliste editieren. Ich forsche mal weiter ...

[2015-12-16 10:23] kadowa commented on #42
Neue Autoren hinzuzufügen geht schon mal:
![autoren](https://cloud.githubusercontent.com/assets/8066366/11838446/666c920a-a3e7-11e5-8e35-cbaa5740f16e.png)

[2015-12-16 10:24] dastewo commented on #42
Ja, das hat Frau Bemmann auch schon festgestellt. Aber das löschen geht
eben nicht mehr.

Am 16.12.2015 um 11:23 schrieb kadowa:

##

---

Daniela Wolf
Webteam / Campus-Bibliothek Bergheim (CBB)
Universitaetsbibliothek Heidelberg
Ploeck 107-109, D-69117 Heidelberg
Phone: +49 6221 54 2389
Fax:   +49 6221 54 2623
Mail:  Wolf_Daniela@ub.uni-heidelberg.de

---

[2015-12-16 10:28] danielawolf opened #43 "Feature funktioniert nicht"
Hallo @kadowa,

hier gleich noch ein Problem: Das Featuren/Empfehlen der online gestellten Beiträge funktioniert nicht. Beim Klicken auf den Link "Empfehlen" passiert nichts, es gibt keine Reaktion (weder positiv noch negativ).

Viele Grüße
Daniela

[2015-12-16 10:29] kadowa commented on #42
Ich bin mir sicher, dass das Löschen funktioniert, nur die Anzeige des Löschbuttons nicht – daher der Test mit dem Anlegen. Bin dran, aber Debugging in PHP ist eine relativ unschöne Angelegenheit und dauert.

[2015-12-16 10:31] dastewo commented on #42
Kein Problem :-)

Am 16.12.2015 um 11:29 schrieb kadowa:

##

---

Daniela Wolf
Webteam / Campus-Bibliothek Bergheim (CBB)
Universitaetsbibliothek Heidelberg
Ploeck 107-109, D-69117 Heidelberg
Phone: +49 6221 54 2389
Fax:   +49 6221 54 2623
Mail:  Wolf_Daniela@ub.uni-heidelberg.de

---

[2015-12-16 10:31] kadowa commented on #43
Kannst du mir einen Screenshot posten, damit ich weiß, wo diese Funktioalität in OMP sitzt? Was sollte denn tatsächlich passieren, wenn man auf "Empfehlen" klickt?

[2015-12-16 10:32] dastewo commented on #43
@kadowa: hier :-)

![featuren in omp](https://cloud.githubusercontent.com/assets/15866252/11838642/9c81a5aa-a3e8-11e5-8bf9-a24293492dff.jpg)

[2015-12-16 10:36] kadowa commented on #43
Und was sollte dieser Link tun? Das wäre sehr hilfreich, um herauszufinden, warum er es nicht tut. :wink:

[2015-12-16 10:38] kadowa commented on #43
Anders gefragt: Was ist in der alten OMP passiert, wenn man auf diese Anzeigeoption (das ist der Sinn dahinter, oder?) umgeschaltet hat?

[2015-12-16 11:04] kadowa commented on #34
@danielawolf, das Problem in #42 habe ich noch nicht gelöst, dafür aber möglicherweise gerade dieses hier. Könntet ihr bei Gelegenheit überprüfen, ob der Cover-Upload für euch jetzt funktioniert und wenn ja, das Issue schließen?

[2015-12-16 11:48] dastewo commented on #43
Dann konnte man die Reihenfolge der Titel beliebig ändern. Gerade bei
Retrodigitalisaten ist es nicht unbedingt gewollt, dass sie ganz vorne
stehen, auch wenn sie als letztes hochgeladen wurden.

Am 16.12.2015 um 11:38 schrieb kadowa:

##

---

Daniela Wolf
Webteam / Campus-Bibliothek Bergheim (CBB)
Universitaetsbibliothek Heidelberg
Ploeck 107-109, D-69117 Heidelberg
Phone: +49 6221 54 2389

[2015-12-16 12:00] kadowa commented on #43
Ok, danke für die Erklärung. Das sollten wir an PKP weiterreichen. @danielawolf, könntest du das Issue noch mal auf Englisch formulieren?

[2015-12-16 12:07] kadowa commented on #42
Ein kurzer Zwischenstand: Es ist leider weiterhin unklar, warum die Anzeige der Lösch/Editierfunktion nicht klappt; mit der Test-Datenbank funktioniert es auf demselben Server mit demselben Code einwandfrei. Das Problem liegt also weder in OMP noch in der Server-Konfiguration, sondern an der Konfiguration der konkreten Instanz – es betrifft alle Presses, also heiup, propylaeum etc. gleichermaßen.

[2015-12-16 12:07] dastewo commented on #34
@kadowa: Danke, es klappt jetzt :-)

Zitat von kadowa notifications@github.com:

[2015-12-16 12:09] #34 closed

[2015-12-16 12:12] dastewo commented on #43
@asmecher
We have a problem with the feature function in the new OMP version. We click on the link 'feature', but nothing happens. There is no reaction if this works or if there is an error. Could you please check this out?

Kind regards
Daniela

[2015-12-17 22:41] asmecher commented on #43
@NateWr was working on some related stuff -- Nate, how far towards the "manage catalog" interface pictured above did you get?

[2015-12-21 10:17] NateWr commented on #43
@asmecher I haven't touched it yet. Still a mess! Logged an [issue](https://github.com/pkp/pkp-lib/issues/986) against the OMP 1.2 milestone.

[2016-01-12 21:00] asmecher commented on #43
@danielawolf and @withanage, I think this can be closed in favour of the issue in our repo:
https://github.com/pkp/pkp-lib/issues/986

[2016-01-12 21:01] asmecher commented on #36
@withanage, I think this should be fixed. Can you verify and close?

[2016-01-12 21:03] asmecher commented on #6
@CFanselow, there's some existing discussion of this at https://github.com/pkp/pkp-lib/issues/941 -- I'd suggest closing this issue and discussing the rename over there.

[2016-01-12 21:04] asmecher commented on #31
@AnjaKonopka, I wonder if this is because there is nobody added to the submission's Participants list. The available recipients for a discussion come from that list.

[2016-01-12 21:06] asmecher commented on #15
Can this be closed?

[2016-01-12 21:06] asmecher commented on #14
The right sidebar has been removed; can this be closed?

[2016-01-12 21:41] asmecher commented on #12
@bozana, does this mean Nate's already tackled it? Or does it still need a markup change?

[2016-01-12 21:54] asmecher commented on #28
@kadowa, this should be resolved with the above patch. Thanks for reporting!

[2016-01-12 22:01] asmecher commented on #32
Hi @AnjaKonopka -- thanks, but I'm not sure I'm following. Could you describe further, or maybe include a screenshot?

[2016-01-13 08:42] dastewo commented on #43
@kadowa, @withanage
Habt ihr denn Zugriff auf https://github.com/pkp/pkp-lib/issues/986 ? Wenn nicht, würde ich das Issue hier lieber offen lassen, damit man es im Auge hat.

[2016-01-13 08:50] kadowa commented on #43
@danielawolf, grundsätzlich kann jeder von uns auch PKP-Issues kommentieren. Mit der _Subscribe_-Funktion kannst du alle Nachrichten zum Issue abonnieren.

![subscribe](https://cloud.githubusercontent.com/assets/8066366/12289233/a1d924b2-b9da-11e5-8ddc-d42e7aea8a7e.png)

Reicht das, um es im Auge zu behalten?

[2016-01-13 09:39] #14 closed

[2016-01-13 09:40] #15 closed

[2016-01-13 09:42] #12 closed

[2016-01-13 12:12] kadowa commented on #28
Resolved, thanks!

[2016-01-13 12:12] #28 closed

[2016-01-13 12:38] withanage commented on #43
@danielawolf  ,  bitte auf
https://github.com/pkp/pkp-lib/issues/986
abonieren.

[2016-01-13 12:38] #43 closed

[2016-01-13 14:45] ankosi commented on #31
@asmecher, Thanks, you are completely right. I had some participants in the press list, but they were not yet assigned to the submission. I tested again and all was fine.

[2016-01-13 14:45] #31 closed

[2016-01-14 09:24] kadowa commented on #40
@AnjaKonopka, can you check on occasion, if the problem is fixed and close the issue in that case?

[2016-01-20 14:44] ankosi commented on #40
Bug is fixed, thanks!

[2016-01-20 14:44] #40 closed

[2016-01-20 14:46] ankosi commented on #36
Since I have a wider screen now, it is difficult for me to see how it has changed ...

[2016-01-20 14:46] #36 closed

[2016-01-24 16:53] #6 closed

[2016-01-24 16:57] CFanselow commented on #17
http://langsci-press.org/
But we consider removing it.

[2016-01-24 16:59] #21 closed

[2016-01-24 17:05] CFanselow commented on #19
Great!

[2016-01-24 17:05] #19 closed

[2016-01-24 17:20] #7 closed

[2016-01-25 19:30] asmecher commented on #17
We've decided to remove the carousel, so I'm happy to hear you're considering the same. The issue for resolving the problems with the "feature" flag is here:
https://github.com/pkp/pkp-lib/issues/986

[2016-01-26 07:37] CFanselow commented on #17
okay, thanks for the information!

[2016-01-26 07:37] #17 closed

[2016-01-28 10:59] kadowa opened #44 "Reset password e-mail form field is too short"
The reset password e-mail input form field only accepts 32 characters. This is too short for some of our user's e-mail adresses:

![email](https://cloud.githubusercontent.com/assets/8066366/12642499/716c1540-c5b6-11e5-99a1-656f4d524987.png)

[2016-01-28 11:05] kadowa opened #45 "Error on registration form validation"
If the registration form does not validate (e.g. with an invalid e-mail address), this error is thrown:

[code]

([Source](https://github.com/pkp/pkp-lib/blob/master/pages/user/RegistrationHandler.inc.php#L72-L74))

[2016-02-05 07:42] lmaylein opened #46 "Kurze Terminanfrage"
Hallo Dulip,
am 14.03. oder 15.03. würde Herr Montero (data2type) mit jemand aus Wien bezüglich
OJS bei uns vorbeikommen. Hast Du an beiden Terminen Zeit?
Leo

[2016-02-05 17:17] withanage commented on #46
hallo Leo,
bei mir sind die beide Tage noch  frei. Habe vorläufig gesperrt.
VG,
Dulip

[2016-02-16 14:07] CFanselow opened #47 "Import/Export plugins do not work"
The User and the ONIX plugins do not work.

User: Export: error message "Could not convert user"
User: Import: error message ##...uploadFile## (upload error)

ONIX 3.0 Export: error message "Could not convert submissions"

I tried to install an Import/Export-Plugin from OMP 1.1. The export works fine, but I also get the file upload error message for the import function. I import a csv-file.

Carol

[2016-02-16 14:24] #46 closed

[2016-02-19 13:15] CFanselow commented on #5
When deleting a plugin, the locale referencing the display name of the plugin is not found and thus ##plugins.generic.name.displayName## is displayed.

[2016-02-23 13:48] CFanselow opened #48 "Cannot remove/disable series cover image via GUI"
Hi,

as in OMP 1.1, cover images for the series cannot be removed or at least disabled via the GUI. Once uploaded, they will appear on the series site.

best,
Carola

[2016-02-24 13:22] AnjaKonopka opened #49 "Catalog - Description of chapters"
It would be very comfortable if we had a chapter id which brings automatically the chapters in the right order. At least in OMP 1.1.1. the chapter order gets lost when I am uploading more  than 10 chapters. Afterwards it is very tiring to give every chapter its correct position.
![2016-02-24_upload](https://cloud.githubusercontent.com/assets/11088169/13286453/de4fac70-db01-11e5-9057-0f464037272a.p

[2016-02-25 11:16] CFanselow opened #50 "Discussions - how to reply and how to close discussions"
Hi,

I would appreciate a short intro in the discussions section. How to reply (I found this after a while) and how to close a discussion (I still don't know where to do that).

best,
Caroal

[2016-02-25 11:35] CFanselow commented on #50
I can close discussions now, the function was disabled, but it works now.

[2016-02-29 11:38] kadowa commented on #42
Vermutlich hatten wir es mit diesem Problem zu tun: https://github.com/pkp/pkp-lib/issues/1106 Sollte jetzt behoben sein. @danielawolf, kannst du das bestätigen?

[2016-02-29 14:15] dastewo commented on #42
@kadowa Ich gebe Katrin Bescheid, dass sie testen kann.

[2016-02-29 14:24] danielawolf opened #51 "contributor who are author and editor"
@asmecher
@kadowa
@AnjaKonopka
We have a problem with contributors who are both editor and author. While uploading a text you can either give a contributor the author role or the editor role unless you put them twice in the system. But in that case they'll be also shown twice on the frontend, which is a bit annoying especially if you have included the bio.
How is the best way to proceed? Should we

[2016-02-29 23:46] asmecher commented on #51
@danielawolf, where do you need this data to be exposed (i.e. showing that the user account was active as both author and editor)?

[2016-03-01 07:49] dastewo commented on #51
@asmecher
I was indeed a bit unclear, it doesn't concern the user accounts. Let me rephrase it: While uploading a manuscript you can enter and change the catalog data. There you can add the contributors and explain their role (Author, Volume editor, Chapter Author, Translator). Now, sometimes people have two roles, for example they are authors of several chapters but also the volume editors. We ar

[2016-03-02 08:58] AnjaKonopka opened #52 "Issue / Volume number in a series"
It would be great it there were a seperate field to designate the volume number of a series. At the moment, we have to write the designation of the number in the same field as the number itself and there is no option for a translation, eg. if I insert:
Band 1
 it appears on our English sites as "Band 1" as well.

It would be fine to have a form field where I can write "Band" for the German site an

[2016-03-02 09:09] kadowa commented on #52
@AnjaKonopka, we can solve this by recording the series position only as a number and add a localized prefix "Band" or "Volume" only when it is displayed. Still, it's unfortunate that the description suggests you should add "Book" or "Volume" to the entry.

[2016-03-02 09:15] ankosi commented on #52
@kadowa, to add a localized prefix was what I head in mind. We would write in the "main" field nothing but the pure number then.

[2016-03-07 17:22] AnjaKonopka opened #53 "Short Biography"
It would be fine, if there was an opportunity to create biographies for more than one author. In my case, there were thress volume editors which wanted to be described together because otherwise the information would have been redundant.

[2016-03-07 17:43] AnjaKonopka opened #54 "Short Biography Gender determination"
In German it is more polite  in terms of political correctness to specify in the short biography, if this is a short biography about a female or a male person (eg, Über den Autor - male / Über die Autorin - female - English: About the author.).
To distinct this automatically in the German version, it would be best, if the information of the sex  would be part of the informations about the contribu

[2016-03-11 22:24] asmecher commented on #47
I spent some time fixing this up in the master branch. See e.g.:
https://github.com/pkp/omp/commit/86c30414b3478412a224694aea9dff6cbada8f09

@NateWr has also spent some time improving the upload control, so if you update to the current `HEAD`, you'll probably need to...

[code]

[2016-03-15 12:41] dastewo commented on #42
@kadowa Ich habe Katrins Bestätigung, dass es nun geht und schließe damit das Issue :-)

[2016-03-15 12:41] #42 closed

[2016-03-30 12:40] bettinamueller opened #55 "Neuen arthistoricum-OMP-Link in OMP-Wiki eintragen"
Liebe Wiki-Kollegen,
es gibt einen neuen Link zur arthistoricum-OMP-Bearbeitungsseite. Dieser sollte in unser UB-Wiki eingetragen werden.

Liebe Grüße,
Eure Bettina
@withanage @kadowa @AnjaKonopka @fkrb

[2016-03-31 06:43] kadowa commented on #55
This issue was moved to UB-Heidelberg/omp-1.1.1.0#3

[2016-03-31 06:43] #55 closed

[2016-04-11 16:42] AnjaKonopka opened #56 "Organization as author, editor or series editor"
@withanage
There is no field for the name of an institution in the role of an author, editor or series editor. At the moment, we are tricking, while writing the organization splitted in the fields "first name" and "second name", but of course, when a list is generated, which puts the last names on the first rang, something weird appears as name :-)
This field is desparately needed.

[2016-06-17 10:47] NateWr commented on #11
Obsolete due to new single file uploader.

[2016-07-13 21:42] asmecher commented on #5
The plugin deletion key problem mentioned [here](https://github.com/UB-Heidelberg/omp/issues/5#issuecomment-186208839) is noted over at https://github.com/pkp/pkp-lib/pull/1523.

[2016-08-12 07:08] UmbrellaDish opened #57 "OAI interface not functional in vanilla OMP 1.2: PublicationFormat::setSeq() missing?"
Hi,

I installed my own plain vanilla OMP instance from the official repository in my endeavour to track down an error why the OAI interface does not work on presses when they are enabled (otherwise it still seems to work only for parts of a series - few monographs we publish are that), and if it that bug is upstream or caused by changes we did.

As installation of lib/pkp submodule and composing

[2016-08-17 12:15] UmbrellaDish commented on #57
Solved. In lib/pkp there have been renamings of various getSeq -> getSequence recently and the OAI interface apparently is not yet in sync in my test directory.

[2016-08-22 06:54] withanage commented on #57
Are there any remaining issues or can  we close the ticket ?

[2016-08-22 07:56] UmbrellaDish commented on #57
There are still issues:

[code]

Apparently there is no way around proper installation of lib/pkp submodule with PHP composer, which actually means to deactivate the software firewall and to reactivate it afterwards. Let's see if it works ... for now, you can close this issue.

[2016-08-22 08:00] #57 closed

[2016-11-09 17:09] ankosi commented on #32
Hi @asmecher; I am a little bit in delay with my answer :-)
We would like to have a user role which gives the user only access to the Submission process. This is, because a lot of publishing houses have an advisory board who decides, whether a book project will be accepted or not (before the peer review starts). The members of the board don't want to be involved in the details of the following pee

[2016-11-09 18:35] asmecher commented on #32
How about creating a new role with an "Assistant" permission role, but with an assignment only to the Submission stage? Off the top of my head, that should be enough.

[2016-11-09 19:43] ankosi commented on #32
Good idea! I wonder how the permission role should be named? To avoid offending the advisory board members I would suggest a role name like "advisors" or - more neutrale - "discussion members" (so that they don't feel like being regarded as assitents) . "Discussion members" seems suitable to me, because the new discussion module  you added in OMP 1.2 to the submission stage seems to me the perfect

[2016-11-09 20:43] asmecher commented on #32
Just FYI, the "assistant" label won't be visible outside the Roles area of the settings. Beyond that, you can name it whatever you choose.

[2016-11-09 20:49] ankosi commented on #32
Ok, fine!

[2016-11-10 20:04] #32 closed